*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.35%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: sans-serif;
  box-sizing: border-box; }

.header {
  height: 93vh;
  display: flex; }
  @media only screen and (max-width: 43.75em) {
    .header {
      flex-direction: column-reverse; } }
  .header__side {
    height: 100%;
    flex: 0 0 50%;
    background-image: linear-gradient(to right, rgba(26, 145, 218, 0.7), rgba(26, 145, 218, 0.7)), url("../img/images.jpeg");
    background-size: cover;
    background-position: center;
    position: relative; }
  .header__main {
    flex: 0 0 50%;
    position: relative; }

.main__container {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%); }

.main__icon {
  font-size: 4rem;
  display: inline-block;
  color: #1da1f2;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 43.75em) {
    .main__icon {
      margin-bottom: 2rem; } }

.main__text {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 43.75em) {
    .main__text {
      margin-bottom: 1rem; } }

.heading__1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 6rem; }
  @media only screen and (max-width: 43.75em) {
    .heading__1 {
      margin-bottom: 4rem; } }

.btn__sign-up:link,
.btn__sign-up:visited {
  text-decoration: none;
  display: inline-block;
  padding: .8rem 2rem;
  background-color: #1da1f2;
  color: #fff;
  border-radius: 10rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  border: 1px solid transparent;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 43.75em) {
    .btn__sign-up:link,
    .btn__sign-up:visited {
      margin-bottom: 1rem; } }

.btn__sign-up:hover,
.btn__sign-up:active {
  background-color: #1a91da; }

.btn__login:link,
.btn__login:visited {
  text-decoration: none;
  display: inline-block;
  padding: .8rem 2rem;
  color: #1a91da;
  border-radius: 10rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  border: 1px solid #1a91da; }

.btn__login:hover,
.btn__login:active {
  background-color: rgba(29, 161, 242, 0.1); }

.row {
  max-width: 114rem;
  margin: 0 auto; }

.footer {
  padding: 1.5rem 0; }
  @media only screen and (max-width: 43.75em) {
    .footer {
      padding: 3rem 0 2rem 0; } }
  .footer__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; }
  .footer__item {
    margin-right: 1rem;
    margin-bottom: 1rem; }
  .footer__link:link, .footer__link:visited {
    font-size: 1.35rem;
    text-decoration: none;
    color: #657786;
    transition: all .3s; }
  .footer__link:hover, .footer__link:active {
    border-bottom: 1px solid currentColor; }

.side__container {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%); }

.side__box {
  display: flex;
  align-items: center; }
  .side__box:not(:last-child) {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 43.75em) {
      .side__box:not(:last-child) {
        margin-bottom: 3rem; } }

.side__icon {
  height: 3rem;
  width: 3rem;
  fill: #fff;
  margin-right: 2rem; }

.side__link {
  text-decoration: none;
  font-size: 2.1rem;
  color: #fff;
  line-height: 1;
  font-weight: 600; }

.log-in {
  width: 70%;
  margin: 1.8rem auto;
  text-align: center; }
  @media only screen and (max-width: 25em) {
    .log-in {
      width: 90%; } }
  .log-in__icon {
    display: inline-block;
    color: #1da1f2;
    font-size: 4rem;
    margin-bottom: 3rem; }
  .log-in__heading {
    font-size: 2.2rem;
    margin-bottom: 2rem; }
  .log-in__input {
    font-size: 1.5rem;
    width: 58%;
    margin: 0 24% 2rem 24%;
    display: block;
    padding: 0 1rem 2rem 1rem;
    height: 6rem;
    background-color: rgba(195, 195, 195, 0.1);
    border: 0;
    border-bottom: 2px solid #657786;
    transition: all .3s; }
    .log-in__input:focus {
      outline: none;
      border-bottom: 2px solid #1da1f2; }
    .log-in__input::-webkit-input-placeholder {
      color: #657786; }
  .log-in__input:focus::-webkit-input-placeholder {
    color: #1da1f2; }
  .log-in__btn {
    border: 0;
    width: 58%;
    margin: 0 24% 3rem 24%;
    display: block;
    background-color: rgba(29, 161, 242, 0.5);
    padding: 1.3rem;
    border-radius: 10rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff; }
  .log-in__link:link, .log-in__link:visited {
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    color: #1da1f2; }
    .log-in__link:link:not(:last-child), .log-in__link:visited:not(:last-child) {
      margin-right: 1.5rem; }
  .log-in__link:hover, .log-in__link:visited {
    border-bottom: 1px solid currentColor; }
