*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;

  @media only screen and (max-width: 75em){
    font-size: 56.35%;
  }

  @media only screen and (max-width: 56.25em) {
    font-size: 50%;
  }

  @media only screen and (min-width: 112.5em) {
    font-size: 75%;
  }
}

body{
  font-family: sans-serif;
  box-sizing: border-box;
}

.header{
  height: 93vh;
  display: flex;

  @media only screen and (max-width: 43.75em) {
    flex-direction: column-reverse;
  }

  &__side{
    height: 100%;
    flex: 0 0 50%;
    background-image:linear-gradient(to right,
            rgba(26, 145, 218, .7),
            rgba(26, 145, 218, .7)),
            url("../img/images.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
  }

  &__main{
    flex: 0 0 50%;
    position: relative;
  }

}

.main{
  &__container{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__icon{
    font-size: 4rem;
    display: inline-block;
    color: rgb(29, 161, 242);
    margin-bottom: 3rem;
    @media only screen and (max-width: 43.75em) {
      margin-bottom: 1.8rem;
    }
  }

  &__text{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    @media only screen and (max-width: 43.75em) {
      margin-bottom: 1.5rem;
    }
  }
}


.heading__1{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 6rem;
  @media only screen and (max-width: 43.75em) {
    margin-bottom: 4rem;
  }
}

.btn__sign-up:link,
.btn__sign-up:visited{
  text-decoration: none;
  display: inline-block;
  padding: .8rem 2rem;
  background-color: rgb(29, 161, 242);
  color: #fff;
  border-radius: 10rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  border: 1px solid transparent;
  margin-bottom: 1.5rem;
}
.btn__sign-up:hover,
.btn__sign-up:active{
  background-color: rgb(26, 145, 218);
}

.btn__login:link,
.btn__login:visited {
  text-decoration: none;
  display: inline-block;
  padding: .8rem 2rem;
  color: rgb(26, 145, 218);
  border-radius: 10rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  border: 1px solid rgb(26, 145, 218);
}

.btn__login:hover,
.btn__login:active{
  background-color: rgba(29, 161, 242, 0.1);
}

.row{
  max-width: 114rem;
  margin: 0 auto;
}
.footer{
  padding: 1.5rem 0;
  @media only screen and (max-width: 43.75em) {
    padding: 3rem 1rem 2rem 1rem;
  }
  &__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  &__item{
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  &__link:link,
  &__link:visited{
    font-size: 1.35rem;
    text-decoration: none;
    color: rgb(101, 119, 134);
    transition: all .3s;
  }
  &__link:hover,
  &__link:active{
    border-bottom: 1px solid currentColor;
  }
}

.side{
  &__container{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  &__box{
    display: flex;
    align-items: center;

    &:not(:last-child){
      margin-bottom: 4rem;
    }
  }

  &__icon{
    height: 3rem;
    width: 3rem;
    fill: #fff;
    margin-right: 2rem;
  }

  &__link:link,
  &__link:visited{
    text-decoration: none;
    font-size: 2.1rem;
    color: #fff;
    line-height: 1;
    font-weight: 600;
  }
}
