.log-in{
  width: 40%;
  margin: 4rem auto;
  text-align: center;

  @media only screen and (max-width: 43.75em) {
    width: 60%;
  }
  @media only screen and (max-width: 25em) {
    width: 80%;
  }
  &__container{
    border-radius: 1rem;
    box-shadow: 0 1rem 1.2rem rgba(0,0,0,.2);
    padding: 2rem;
  }
  &__icon{
    display: inline-block;
    color: rgb(29, 161, 242);
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  &__heading{
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }

  &__input{
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 2rem;
    display: block;
    padding: 0 1rem 2rem 1rem;
    height: 6rem;
    background-color: rgba(195, 195, 195, .2);
    border: 0;
    border-bottom: 2px solid rgb(101, 119, 134);
    transition: all .3s;
    @media only screen and (max-width: 43.75em) {
      background-color: rgba(195, 195, 195, .6);
    }


    &:focus{
      outline: none;
      box-shadow: 0 .5rem .8rem rgba(0,0,0,.3);
      border-bottom:2px solid rgb(29, 161,242);
    }

    &::-webkit-input-placeholder {
      color: rgb(101, 119, 134);
    }
  }

  &__input:focus::-webkit-input-placeholder{
    color: rgb(29, 161,242);
  }

  &__btn{
    border: 0;
    width: 100%;
    margin-bottom: 3rem;
    display: block;
    background-color: rgb(29, 161, 242);
    padding: 1.3rem;
    border-radius: 10rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
  }

  &__btn:focus{
    outline: none;
  }

  &__link:link,
  &__link:visited{
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    color: rgb(29, 161,242);
    border-bottom: 1px solid transparent;


    &:not(:last-child){
      margin-right: 1.5rem;
    }
  }

  &__link:hover,
  &__link:visited{
    border-bottom: 1px solid currentColor;
  }

}